<p>Hi <%= @user.first_name %>,</p>

<p>This is a notification about your <%= @subscription.name %> charge of EUR <%= @subscription.cost %> that is coming up on <%= @subscription.payment_date %>. Please go on your Subscriptions page to see more details. </p>

<p>Your Monetizeur</p>
