.analysis{
  background-color: #FCFCFC;
  display: flex;
}

.analysis-profile{
  height: 100vh;
  position: sticky;
  top: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #E8E8E8;
}

.info-a {
  border-top: 1px solid #E8E8E8;
  width: 400px;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  justify: content;
}

.info-a h5 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
}

.info-text2 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.info-text2 p {
  padding-top:8px;
}

.image-app img{
  width: 40px;
  margin-left: 20px;
}

.info-text3 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  .total-increase{
    padding-top: 10px;
    color: red;
    font-weight: bold;
  }
  .total-decrease{
    padding-top: 10px;
    color: green;
    font-weight: bold;
  }
}

.info-text {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.info-text4 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.picture-app-all img {
  width: 40px;
  margin-left: 20px;
}

.cards-analysis {
  flex-grow: 1;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.cards-analysis h3 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

.column-chart {
  padding-top: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border-top: 1px solid #E8E8E8;
  margin-top: 40px;
}

.column-chart1 {
   width: 400px;
}

.column-chart1 h4 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.line-chart {
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.line-chart h4 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.piechart-category {
  padding-top: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border-top: 1px solid #E8E8E8;
  margin-top: 40px;
}

.piechart-year {
  margin-right: 20px;
  margin-left: 40px;
}

.piechart-year h4 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.piechart-month h4 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.piechart-month {
  margin-right: 30px;
}

.piechart-app {
  padding-top: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border-top: 1px solid #E8E8E8;
  margin-top: 40px;
}

.legend {
  margin-right: 30px;
}

.legend h4 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
