.analysis{
  background-color: #FCFCFC;
  display: flex;
}

.analysis h3 {
  text-align: center;
  padding: 20px;
  text-font: bold;
  font-weight: bold;
  font-size: 30px;

}

.analysis-profile{
  height: 100vh;
  position: sticky;
  top: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #E8E8E8;
  background-color: #E8E8E8;
}

.info-a {
  border-top: 3px solid #FCFCFC;
  width: 400px;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  justify: content;
}

.info-a h5 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
}

.info-text2 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.info-text2 p {
  padding-top:8px;
}

.image-app img{
  width: 40px;
  margin-left: 20px;
}

.info-text3 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  .total-increase{
    padding-top: 10px;
    color: red;
    font-weight: bold;
  }
  .total-decrease{
    padding-top: 10px;
    color: green;
    font-weight: bold;
  }
}

.info-text {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.info-text4 {
  text-font: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.picture-app-all img {
  width: 40px;
  margin-left: 20px;
}

.cards-analysis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
    margin-left: 3vw;
}

.cards-analysis h3 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

.chartkick {
  background-color: white;
   padding: 20px;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  // width: 600px;
  // height: 400px;
  box-shadow: 28px 11px 58px -2px rgba(184,184,184,1);
  border-radius: 5px;
  margin: 20px;

  h4{
    font-size: 18px;
    color: #5D5D5E;
    padding-top: 5px;
  }
  p{
    color: #767676;
    text-align: left;
    font-size: 12px;
    padding-top: 20px;

  }
}

















