.my-profile{
  background-color: #FCFCFC;
  #back{
    background-color: #ececec !important;
    border-radius: 15px;
    border-bottom: 1px solid #32a287;
    text-shadow: none !important;

    height: 43px;
    border-radius: 50px;
    a{
      color: #5D5D5E !important;
    }
  }
}
.cards{
  background-color: #FCFCFC;
  #back{
  margin-right: 35%;
  margin-left: 35%;

  }
}

.user-profile{
  height: 100vh;
  position: sticky;
  top: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #E8E8E8;
  #back{
    padding-right: 25px;
    padding-left: 25px;
  }
}




.my-profile {
  display: flex;
}

.cards {
  flex-grow: 1;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
.your-cards{
  padding-bottom: 30px;
}
.your-cards h3{
  margin-top:15px;
}
.summary{
  border-bottom: 1px solid #E8E8E8;
  margin: 0 15px;
  padding-bottom: 20px;
}
.Parasites-my-profile{
  border-bottom: 1px solid #E8E8E8;
  margin: 0 15px;
  padding-bottom: 30px;
}

.deletefriend i{
//    display: block;
//    position: absolute;
//    top: 0;
//    right: 0;
color: #5D5D5E;
}

.your-cards{
  border-bottom: 1px solid #E8E8E8;
  margin: 0 15px;

}
.summary-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}
.info-btn-container{
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
}
#more-info{
  border: 1px solid #87A2C6 !important;
  color: gray !important;
  background-color: white !important;
  border-radius: 5px;
  font-size: 10px;
}
.box{
  background-color: white;
  padding: 15px;
  width: 350px;

  box-shadow: 28px 11px 58px -2px rgba(184,184,184,1);
  border-radius: 5px;

}
.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.subscriptions{
  margin-right: 40px;
  position: relative;
}
.subsc-cost{
  display: flex;
  text-direction: row;
  .total-spent{
    font-size: 18px;
    margin-right: 5px;
  }
  .total-increase{
    color: red;
    font-size: 12px;
  }
  .total-decrease{
    color: green;
    font-size: 12px;
  }
}
.next-subsc-cost{
  color: #767676;
}
.single-card{
  text-align: center;
  padding-right: 20px;
}
.single-card img{
  width: 150px;
  height: 100px;
}
.single-card a{
  color: #5D5D5E;
  &:hover{
    color: #272428;
    text-decoration: none;
  }
}
h3, h5, p{
  color: #5D5D5E;
}
// ---- PARASITES
.Parasites-my-profile h3{
  margin-top:15px;
}
.parasites-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
.para-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.initial{
  font-size: 40px;
  color: #5D5D5E;
  position: absolute;

}
.single-parasite{
  text-align: center;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.para-name{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.para-subsc{
  font-size: 15px;
  margin-bottom: 4px;
}
.para-details{
  margin-top: 100px;
}

.pm-nickname {
  padding-top: 5px;
  text-align: center;
}

.entire-card{
  display: flex;
  align-items: center;
  justify-content: center;
}

// ---CALENDAR INJECTION
.my-profile {
  .fc tbody .fc-row .fc-content-skeleton tbody tr:last-child td {
      padding-bottom: 0;
  }

  .fc table, body .fc {
      font-size: 8px;
  }
  .profile-calendar{
    display: flex;
    justify-content: center;
  }
  .fc-view-container{
    width: 300px;
  }
}


