.square2{
  text-align: center;
  border: 1px solid  #87A2C6;
  border-radius: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 8px;
}

.show-card{
  margin-top: 30px;
}

.sub-name a{
  color: #484848;
  &:hover{
    color: black;
  }
}

.notify-me{
  color: #767676;
  font-size: 15px !important;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: 5px;
  text-align: left !important;
}

.subsc-image img{
  width: 80px;
  height: auto;
}

.subscription-container{
  display: flex;
  flex-direction: row;
}
