.square2{
  text-align: center;
  border: 1px solid  #87A2C6;
  border-radius: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 8px;
}

.show-card{
  margin-top: 30px;
}

.sub-name a{
  color: #484848;
  &:hover{
    color: black;
  }
}

.notify-me{
  color: #767676;
  font-size: 15px !important;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: 5px;
  text-align: left !important;
}

.subsc-image img{
  width: 80px;
  height: auto;
}

.subscription-container{
  display: flex;
  flex-direction: row;
}

.entire-subscription{
  display: flex;
  align-items: flex-end;
}
.entire-subscription a{
  color: #484848;
  font-size: 14px;
   &:hover{
   color: black;
   text-decoration: none;
  }
}

.pm_subsc_show{
  padding-bottom: 20px !important;
}
// --BUTTONS
#remove-btn{
  background-color: #E88C8B !important;
  color:white !important;
  border: none;
  border-radius: 10px;
  margin-bottom:10px;
  margin-right: 12%;
  margin-left: 12%;
  &:hover{
   background-color: #C13836 !important;
  }
}
#remove-btn a{
  color:white !important;
  &:hover{
   text-decoration: none !important;
  }
}
.buttons-container{
  display:flex;
  flex-direction: column;
}

.back-my-profile{
  margin-right: 12%;
  margin-left: 12%;
}
.back-my-profile p{
  color:white !important;
  margin: 0;
}












