.main-container{
  display:flex;
  flex-direction: column;
  align-items:center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.image{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  width: 120px;
}
.logo{
  width:120px;
}
