<h1> List of your "lovely" friends using your subscriptions </h1>

<ul>
  <% @parasites.each do |para| %>
    <li>
      <%=  para.name %>
      ( <%= para.subscriptions.map{ |sub| sub.name }.join(", ") %> )
    </li>
  <% end %>
</ul>
