<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= image_tag "logo.png"%>
    EW;LJKWLURLIW HKUWEILKJ
    <p><i class="far fa-copyright"></i> 2018 Monetizeur, all rights reserved</p>
  </div>
</div>
