<div class="wrapper-calendar">
  <div class="row">
   <div class = " col-xs-12 col-md-6 offset-3">
    <br>
    <br>

    <div id="previous-month" class="btn btn-primary"><</div>
    <div id="next-month" class="btn btn-primary">></div>
    <br>
    <br>

    <div id='calendar' data-subscriptions="<%= @one_year_events %>"></div>

  </div>
</div>

<div class="button-wrapper">
  <br>
  <br>
  <br>
  <div id="back" class="btn btn-primary index">
    <%= link_to "add a subscription", new_subscription_path   %>
  </div>
</div>

</div>
