<div class="banner">
  <div class="container">
    <h1>Welcome to Monetizeur</h1>
    <p>Enjoy full transparency of your subscriptions</p>
  </div>
</div>

<div class="secondary-header">
    <h1> How does Monetizeur help you? </h1>
  </div>
</div>


