<div class="user-profile">
  <div class="profile-picture">
    <%= image_tag "avatar-profile.png", class: "profile-picture-round"%>
  </div>
  <div class="profile info">
        <p> email: <%=current_user.email  %> </p>
  </div>
</div>
