
<!-- <div class="tab">
  <button class="tablinks" onclick="openSubscription(event, 'Active subscriptions')">Active subscriptions</button>
  <button class="tablinks" onclick="openSubscription(event, 'Inactive subscriptions')">Inactive subscriptions</button>
</div> -->

<!-- Tab content
<div id="Active" class="tabcontent">
  <h3>Active subscriptions</h3>
  <p>all cards go here now</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Inactive subscriptions</h3>
  <p>cards of history of subscriptions</p>
</div>

 -->

    <%= render "activesubsc_card" %>

  <br>
  <br>
  <div id="back" class="btn btn-primary">
    <%= link_to "add a subscription", new_subscription_path   %>
  </div>


