.banner {
  background-image: asset-url("banner.png");
  height: 100vh;
  background-size: cover;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: lighter;

}

.banner p {
  font-size: 30px;
  color: white;
  font-weight:lighter;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
