// active subscription cards
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10%;
}

.card-image {
  display: flex;
  align-items: center;
  border-right: 1px solid #e9e9e9;
}

.card-image img {
  // height: 100%;
  width: 120px;
  // object-fit: cover;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  height: 100%;
  width: 100%;
}

.upcase {
  text-transform: uppercase;
}
.name {
  color: #767676;
  font-size: 12px;
  font-weight: bold;
}
.price {
  color: #484848;
  font-size: 22px;
  font-weight: normal;
}
.extra-info {
  color: #757575;
  font-size: 13px;
}
#second {

}
#last {
  padding-bottom: 0px;
  position:relative;
  width: 60%;
  p {
    margin-right: 5vw;
    font-size:14px;
    color: #484848;
  }
}
.dropdown-menu a {
  font-size: 13px;
  color: #484848;
}

#category{

}
#notification{
  height: 35px;
  width: 35px;
  position: absolute;
  right: 25px;
}








