// active subscription cards
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10%;
}

.card-image {
  display: flex;
  align-items: center;
  border-right: 1px solid #e9e9e9;
}

.card-image2 {
  display: flex;
  align-items: center;
  border-right: 1px solid #e9e9e9;
}

.card-image img {
  // height: 100%;
  width: 120px;
  // object-fit: cover;
}

.card-payment-method-image {
  display: flex;
  align-items: center;
  border-right: 1px solid #e9e9e9;
}

.card-payment-method-image img {
  height: 100%;
  width: 120px;
  object-fit: cover;

.card-image2 img {
  // height: 100%;
  width: 120px;
  // object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.card-product p {
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  height: 100%;
  width: 100%;
}

.upcase {
  text-transform: uppercase;
}
.name {
  color: #767676;
  font-size: 12px;
  font-weight: bold;
}
.price {
  color: #484848;
  font-size: 22px;
  font-weight: normal;
}
.extra-info {
  color: #757575;
  font-size: 13px;
}

#first{
  padding-left: 40px;
}
#second {

}
#last {
  padding-bottom: 0px;
  position:relative;
  width: 60%;
  p {
    margin-right: 5vw;
    font-size:14px;
    color: #484848;
  }
}
.dropdown-menu a {
  font-size: 13px;
  color: #484848;
}

#category{

}
.notification{
  height: 50px;
  // width: 35px;
  position: absolute;
  right: 15px;
  z-index: 2;
  cursor: pointer;
  &:focus {
    box-shadow: none;
  }
}

.bell {
  height: 100%;
}

.category{
    height: 100%;
    width: 20px;
    transition: .4s ease;
    position: relative;
    // display: none;
  &:hover {
    width: 100px;
    transition: .4s ease;
  }
}
#wrapper .vertical {
opacity:0;
position: absolute;
color: white;
-webkit-transform: rotate(270deg);
transition: .1s ease;
width: 10px;
height: 120px;
top: 0px;
left: 6px;
display:flex;
justify-content: center;
align-items: center;
margin: 0;
}

#wrapper:hover .vertical {
// visibility:visible;
// color: white;
opacity: .9;
transition: .4s ease;
// font-size: 15px;
}

.red{
  background-color: #C42D2B;
}
.darkblue{
  background-color: #20325E;
}
.green{
  background-color: #5CB566;
}
.lightblue{
  background-color: #72C6E0;
}
.pink{
  background-color: #E892A3;
}
.yellow{
  background-color: #FFE74C;
}
.orange{
  background-color: #FFA544;
}
.gray{
  background-color: #989C94;
}
.purple{
  background-color: #624763;
}


@media all and (max-width: 500px) {
  .card-product {
    flex-direction: column;
    height: 100%;
  }
  .card-image {
  display: flex;
  align-items: center;
  border-right: none;
  border-bottom: 1px solid #e9e9e9;
}
  .card-product{
    display: felx;
    text-align: center !important;
    border-bottom: 1px solid #e9e9e9;
  }
    #first{
    padding-left: 16px;
  }
  #last{
    padding-bottom: 30px;
    position: relative;
    width: 80%;
    height: auto;
  }
}






