.footer {
  background: #FCFCFC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
  // margin-top:80px;
  padding-top:20px;
  border-top: 1px solid #E8E8E8;
}
// .footer-links {
//   display: flex;
//   align-items: center;
// }
.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  img{
    height: 35px;
    width: 110px;
  }
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

// .site-content {
//   flex: 1;


// --NOT YET USED

// .footer {
//   background: #F4F4F4;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 100px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
// }
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
// }
// .footer .fa-heart {
//   color: #D23333;
// }
