.navbar-lewagon {
  background-color: transparent;
  transition: 0.1s background-color ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.navbar-lewagon-white {
  background-color: #FCFCFC;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.nav-item a{
  font-size: 16px ;
  color: white;
}
.dropdown-item a{
  font-size: 13px !important;
  color: black !important;
}

.navbar-lewagon .nav-link {
  color: white !important;
}

// --NAVBAR MAIN
.navbar-lewagon-main {
  justify-content: space-between;
  background: white;
  height: 70px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.navbar-lewagon-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-main .navbar-brand-main img {
  width: 70px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
}
.nav-item-main a{
  font-size: 16px !important;
}

.nav-link {
  position: relative;
}
.notify-circle {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  right: 35px;
  top: 18px;
}

.notification-image img {
  width: 50px;
}

.notification-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item {

  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu {
  min-width: 23rem;

}

.dropdown-toggle::after {
  content: '' !important;
  border: 0 !important;
}
